* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background: #081b29;
  height: 1000px;
}

.head {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background-color: yellowgreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.name{
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}

.navigation a{
  font-size: 18px;
  color: #ededed;
  font-weight: 500;
  margin-left: 35px;
  text-decoration: none;
  transition: 300ms;
}

.navigation a:hover{
  color: blue
}